[workspace]
resolver = "2"
members = [
    "qbase",
    "qrecovery",
    "qcongestion",
    "qudp",
    "qinterface",
    "qunreliable",
    "qconnection",
    "gm-quic",
    "h3-shim",
]
default-members = [
    "qbase",
    "qrecovery",
    "qcongestion",
    "qunreliable",
    "qinterface",
    "qconnection",
    "gm-quic",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/genmeta/gm-quic"
license = "GPL-3.0"
keywords = ["async", "quic", "http3"]
categories = ["network-programming", "asynchronous"]

[workspace.dependencies]
bytes = "1"
cfg-if = "1"
dashmap = "6"
deref-derive = "0.1"
derive_builder = "0.20"
enum_dispatch = "0.3"
futures = "0.3"
getset = "0.1"
log = "0.4"
nom = "7"
rand = "0.8"
rustls = { version = "0.23", default-features = false, features = ["std"] }
socket2 = "0.5"
thiserror = "2"
tokio = { version = "1" }

# h3 for h3-shim, windows-sys and libc for qudp
# they are not the default members of the workspace
# h3 = "?"
# windows-sys = "?"
# libc = "0.2"

# dev-dependencies, for examples
clap = { version = "4", features = ["derive"] }
env_logger = "0.11"
http = "1"
rustls-native-certs = "0.8"
tracing = "0.1"
tracing-subscriber = "0.3"
url = "2"

# members
qbase = { path = "./qbase", version = "0.1.0" }
qrecovery = { path = "./qrecovery", version = "0.1.0" }
qconnection = { path = "./qconnection", version = "0.1.0" }
qcongestion = { path = "./qcongestion", version = "0.1.0" }
qudp = { path = "./qudp", version = "0.1.0" }
qinterface = { path = "./qinterface", version = "0.1.0" }
qunreliable = { path = "./qunreliable", version = "0.1.0" }
gm-quic = { path = "./gm-quic", version = "0.1.0" }

[profile.bench]
debug = true
