[package]
name = "h3-shim"
version = "0.1.0"
edition.workspace = true
description = "Shim libray between gm-quic and h3"
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
h3 = "0.0.6"
bytes = { workspace = true }
futures = { workspace = true }
gm-quic = { workspace = true }
qbase = { workspace = true }
tokio = { workspace = true }
qconnection = { workspace = true }

[features]
unreliable = ["qconnection/unreliable"]

[dev-dependencies]
clap = { workspace = true, features = ["derive"] }
http = { workspace = true }
rustls = { workspace = true, features = ["ring"] }
tokio = { workspace = true, features = ["io-std", "fs"] }
tracing = { workspace = true }

[dev-dependencies.tracing-subscriber]
workspace = true
features = ["fmt", "ansi", "env-filter", "time", "tracing-log"]

[[example]]
name = "h3-server"

[[example]]
name = "h3-client"
