[package]
name = "qbase"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = { workspace = true }
bytes = { workspace = true }
rand = { workspace = true }
futures = { workspace = true }
getset = { workspace = true }
thiserror = { workspace = true }
enum_dispatch = { workspace = true }
deref-derive = { workspace = true }
rustls = { workspace = true }
