[package]
name = "qrecovery"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = { workspace = true }
tokio = { workspace = true }
qbase = { workspace = true }
rustls = { workspace = true }
slice-deque = { workspace = true }
bytes = { workspace = true }
thiserror = { workspace = true }
async-lock = { workspace = true }
deref-derive = { workspace = true }
rand = { workspace = true }
log = { workspace = true }
