[package]
name = "qrecovery"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = { workspace = true }
tokio = { workspace = true }
qbase = { workspace = true }
rustls = { workspace = true }
bytes = { workspace = true }
thiserror = { workspace = true }
deref-derive = { workspace = true }
rand = { workspace = true }
log = { workspace = true }
enum_dispatch = { workspace = true }
parking_lot = { workspace = true }
