name: Benchmarks

on:
  workflow_dispatch:  # Allows manual triggering
  schedule:
    - cron: '0 2 * * *'  # UTC 2:00 AM = Beijing 10:00 AM

jobs:
  linux-benchmark:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install latest rust stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: "" # tquic use deprecated function, and this action set rustflags to "-D warnings" by default
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-matplotlib
      - name: Run benchmarks
        run: |
          python3 benchmark/launch.py run
      - name: Zip benchmark results
        run: |
          cd benchmark
          zip -r benchmark-results-linux.zip output/
      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results-linux
          path: benchmark/benchmark-results-linux.zip

  macos-benchmark:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install latest rust stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: "" # tquic use deprecated function, and this action set rustflags to "-D warnings" by default
          
      - name: Install dependencies
        run: |
          brew update
          brew install python-matplotlib go
      - name: Run benchmarks
        run: |
          python3 benchmark/launch.py run
      - name: Zip benchmark results
        run: |
          cd benchmark
          zip -r benchmark-results-macos.zip output/
      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results-macos
          path: benchmark/benchmark-results-macos.zip