name: Coverage

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ['main']

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      # Limit test parallelism to 1 thread to avoid resource contention
      - run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info -- --test-threads=1
          
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
