name: Commitlint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v5
